@font-face {
    font-family: OCRAEXT;
    src: url(../fonts/OCRAEXT.TTF) format("truetype");
    font-weight: normal;
}

a:focus, 
a:hover{
    text-decoration: none;
}
li {
    display: list-item;
    list-style: none;
}
.titulo-byte {
 font-family:"OCRAEXT" !important;  
 color: green;
}
.mapa {
	display: block;
	width: 610px;
    height: 310px;
    margin: 0px auto;
    margin-bottom: 61px;
    border: 3px solid #F05F40;
}
.horarios {
	display: block;
    width: 280px;
    border: 3px solid #F05F40;
    position: relative;
    	left: -80px;
    	bottom: -65px;
    overflow: hidden;
    text-align: center;
    padding: 13px;
    font-size: 3em;
}

.footerh2 {
    display: inline-block;
    text-align: center;
}
.formcontact {
    width: 60%;
    margin: 4% auto;
    padding: 2%;
}
.mdl-expand {
    width: 604px;
}
button.mdl-button.mdl-button--raised.mdl-js-button.mdl-js-ripple-effect {
    float: right;
}
.tabla-footer {
    display: inline-block;
    float: left;
    margin: 0px auto;
    width: 100%;
}
main,aside {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0px;
    overflow: hidden;
}
#cajacontacto {
    display: block;
    width: 40%;
    margin: 40px auto;
}
#contacto {
    display: block;
    width: 100%;
    margin: 0px;
    overflow: hidden;
    font-family: 'Nunito', sans-serif;
    font-size:1.2vw;
}
#formcontacto {
    display: block;
    width: 60%;
    margin: 20px auto;
    border: 4px solid blue;
    overflow: hidden;
    font-family: 'Nunito', sans-serif;
    font-size:1.2vw;
}
.formcontact {
    display: block;
    width: 60%;
    margin: 0 auto;
    overflow: hidden;
    font-family: 'Nunito', sans-serif;
    font-size:1.2vw;
}

form#dosformcontacto {
    display: block;
    width: 90%;
    margin: 20px auto;
    overflow: hidden;
    font-family: 'Nunito', sans-serif;
    font-size:1.2vw;
}
#mapa {
    display: block;
    margin: 20px auto;
    width: 80%;
}

.horarios {
    display: block;
    width: 40%;
    text-align: center;
    font-size:1.2vw;
    border-style: solid;
    border-color: #697a2f;
    padding: 5%;
}
.horarios:hover {
    background-color: rgba(163, 189, 49, 0.39);
    color: #697a2f;
    border-color: darkkhaki;
}

.dejanosmsj:hover {
    color:#697a2f;
    font-size:2.4vw;
    transition-duration: 2s;
}
#mapa {
    display: block;
    width: 40%;
    height: 400px;
    margin-top: 110px;
    margin-bottom: 106px;
    -webkit-box-shadow: -1px -1px 45px 21px rgba(0,0,0,0.13);
    -moz-box-shadow: -1px -1px 45px 21px rgba(0,0,0,0.13);
    box-shadow: -1px -1px 45px 21px rgba(0,0,0,0.13);
}

